:root {
    --background-main: black;
    --background-row: url("kamien.png");
    --title: #f0f5f5;
    --text: #e6e6e6;

    --font: 'EB Garamond';
}


/* general */

html {
    font-size: 16px;
    font-family: var(--font), sans-serif;
    color: var(--text);
}

body {
    background: var(--background-main);
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
}


/* heading */

.heading {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 6rem;
    margin-bottom: 7rem;
}

h1 {
    font-size: 3rem;
    width: 75%;
    letter-spacing: 1px;
    font-weight: 400;
    color: var(--title);
}


/* rows - general */


.table {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    width: 900px;
}

.row {
    box-sizing: border-box;
    width: 300px;
    height: 250px;
    padding: 1rem;
    padding-top: 1.5rem;
    background-image: var(--background-row);
}

.border {
    border-color: white;
    border-style: solid;
    border-width: 1px;
}

.shadow-full {
    box-shadow: 0px 0px 3px white;
}

.cell {
    text-align: center;
    font-size: 1.5rem;
}

.who {
    height: 25%;
}

.when {
    height: 25%;
}

.how {
    height: 50%;
}


/* form */

.contact {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 1.2rem;
    margin-top: 10rem;
    width: 80%;
    padding-bottom: 7rem;
}

.info {
    width: 100%;
    text-align: center;
}

form {
    width: 100%;
}

.form {
    display: flex;
    justify-content: start;
    width: 60%;
}

label {
    display: block;
    margin-top: 10px;
}

input {
    width: 100%;
    background-color: black;
    color: white;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    font-size: 1.1rem;
    font-family: var(--font);
}

.submit {
    text-align: center;
    margin-top: 15px;
}

input[type=submit] {    
    width: 20%;
    min-width: 80px;
}


@media (max-width: 1200px) {
    .table {
        width: 600px;
    }
}

@media (max-width: 800px) {
    .table {
        width: 300px;
    }
}

@media (max-width: 500px) {
    html {
        font-size: 13px;
    }

    h1 {
        width: 90%;
    }

    .table {
        width: 250px;
    }

    .row {
        width: 250px;
        height: 208px;
        padding: 1rem;
        padding-top: 1.5rem;
        background-image: var(--background-row);
    }

    .form {
        width: 80%;
    }
}
