:root {
    --background-main: black;
    --background-row: grey;
    --text: #f0f5f5;

    --garamond: 'EB Garamond';
}


/* general */

html {
    font-size: 16px;
    font-family: var(--garamond), sans-serif;
    color: var(--text);
}

@media (max-width: 900px) {
    html {
        font-size: 15px;
    }
}

@media (max-width: 400px) {
    html {
        font-size: 13px;
    }
}

body {
    background: var(--background-main);
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
}


/* heading */

.heading {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 6rem;
    margin-bottom: 7rem;
}

h1 {
    font-size: 3rem;
    width: 80%;
    letter-spacing: 1px;
    font-weight: 400;
    color: var(--text);
}


/* rows - general */



.table {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 70%;
}

.row {
    box-sizing: border-box;
    width: 33.3333%;
    min-width: 300px;
    height: 15rem;
    padding: 1rem;
    background-color: var(--background-row);
}

.border {
    border-color: white;
    border-style: solid;
    border-width: 1px;
}

.shadow-full {
    box-shadow: 0px 0px 3px white;
}

.cell {
    text-align: center;
    font-size: 1.5rem;
}

.who {
    height: 25%;
}

.when {
    height: 25%;
}

.how {
    height: 50%;
}


/* form */

.form {
    display: flex;
    justify-content: center;
}


/* rows - examples */

.border {
    border-color: white;
    border-style: solid;
    border-width: 1px;
}

.shadow {
    box-shadow: 0px 0px 3px white;
}

.one {
    background-color: var(--one);
    font-family: var(--one-stint);
}

.two {
    background-color: var(--two);
    font-family: var(--two-mate);
}

.three {
    background-color: var(--three);
    font-family: var(--three-zilla);
}

.four {
    background-color: var(--fourth);
    font-family: var(--bodoni);
}

.five {
    background-color: var(--five);
    font-family: var(--five-standard);
    border-color: var(--five);
}

.six {
    background-color: var(--six);
    font-family: var(--six-cormorant);
    box-shadow: 0px 0px 3px var(--six);
}

.seven {
    background-color: var(--seven);
    font-family: var(--seven-playfair);
    box-shadow: 0px 0px 10px var(--seven);
}

.eight {
    background-color: var(--eight);
    font-family: var(--garamond);
}

.nine {
    background-color: var(--nine);
    font-family: var(--nine-quatrocento);
}

.ten {
    background-color: var(--ten);
    font-family: var(--ten-lora);
}

.eleven {
    background-color: var(--eleven);
    font-family: var(--eleven-PT);
}

.twelve {
    background-color: var(--twelve);
    font-family: var(--twelve-noto);
}

.thirteen {
    background-color: var(--thirteen);
    font-family: var(--thirteen-libre);
}

.fourteen {
    background-color: var(--fourteen);
    font-family: var(--fourteen-crimson);
}

.fifteen {
    background-color: var(--fifteen);
    font-family: var(--fiften-source);
}

.sixteen {
    background-color: var(--sixteen);
    font-family: var(--garamond);
}

.seventeen {
    background-color: var(--seventeen);
    font-family: var(--seventeen-zilla);
}

.eighteen {
    background-color: var(--eighteen);
    font-family: var(--eighteen-notoJP);
}

.nineteen {
    background-color: var(--nineteen);
    font-family: var(--nineteen-benne);
}

.twenty {
    background-color: var(--twenty);
    font-family: var(--twenty-ibm);
}


/* contact */

.contact {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    height: 12rem;
    margin-top: 10rem;
    text-align: center;
}

.info {
    width: 80%;
}