:root {
    --background-main: black;
    --background-row: grey;
    --text: white;

    --garamond: 'EB Garamond';

    --one: #b30000;
    --one-stint: 'Stint Ultra Condensed';

    --two: #990000;
    --two-mate: 'Mate SC';

    --three: #800000;
    --three-zilla: 'Zilla Slab';

    --four: #660000;
    --four-bodoni: 'Bodoni Moda';

    --five: #4d0000;
    --five-standard: 'Old Standard TT';

    --six: #660066;
    --six-cormorant: 'Cormorant Garamond';

    --seven: #558000;
    --seven-playfair: 'Playfair Display';

    --eight: #99e600;
    /* --standard */

    --nine: #331a00;
    --nine-quatrocento: 'Quattrocento';

    --ten: #005c99;
    --ten-lora: 'Lora';

    --eleven: #0066cc;
    --eleven-PT: 'PT Serif';

    --twelve: #b3b3ff;
    --twelve-noto: 'Noto Serif';

    --thirteen: #1a1aff;
    --thirteen-libre: 'Libre Baskerville';

    --fourteen: #ffff80;
    --fourteen-crimson: 'Crimson Text';

    --fifteen: #e6e600;
    --fiften-source: 'Source Serif Pro';

    --sixteen: #b3b300;
    /* --garamond */

    --seventeen: #666600;
    --seventeen-zilla: 'Zilla Slab';

    --eighteen: #ff5500;
    --eighteen-notoJP: 'Noto Serif JP';

    --nineteen: #aaaa55;
    --nineteen-benne: 'Benne';

    --twenty: #f6f6ee;
    --twenty-ibm: 'IBM Plex Serif';
}


/* general */

html {
    font-size: 16px;
    font-family: var(--garamond), sans-serif;
    color: var(--text);
}

@media (max-width: 900px) {
    html {
        font-size: 15px;
    }
}

@media (max-width: 400px) {
    html {
        font-size: 13px;
    }
}

body {
    background: var(--background-main);
}

.container {
    width: 100%;
}


/* heading */

.heading {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 6rem;
    margin-bottom: 7rem;
}

h1 {
    font-size: 3rem;
    width: 80%;
    letter-spacing: 1px;
    font-weight: 400;
    color: #f0f5f5;
}


/* rows - general */

.row {
    display: flex;
    width: 80%;
    height: 10rem;
    background: var(--background-main);
    border-radius: 5px;
    margin: 0 auto 4rem auto;
    padding-right: 3rem;
}

.border {
    border-color: white;
    border-style: solid;
    border-width: 1px;
}

.shadow-full {
    box-shadow: 0px 0px 3px white;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 1.5rem;
}

.who {
    width: 33.333%;
}

.when {
    width: 33.333%;
}

.how {
    width: 33.333%;
}


/* rows - examples */

.border {
    border-color: white;
    border-style: solid;
    border-width: 1px;
}

.shadow {
    box-shadow: 0px 0px 3px white;
}

.one {
    background-color: var(--one);
    font-family: var(--one-stint);
}

.two {
    background-color: var(--two);
    font-family: var(--two-mate);
}

.three {
    background-color: var(--three);
    font-family: var(--three-zilla);
}

.four {
    background-color: var(--fourth);
    font-family: var(--bodoni);
}

.five {
    background-color: var(--five);
    font-family: var(--five-standard);
    border-color: var(--five);
}

.six {
    background-color: var(--six);
    font-family: var(--six-cormorant);
    box-shadow: 0px 0px 3px var(--six);
}

.seven {
    background-color: var(--seven);
    font-family: var(--seven-playfair);
    box-shadow: 0px 0px 10px var(--seven);
}

.eight {
    background-color: var(--eight);
    font-family: var(--garamond);
}

.nine {
    background-color: var(--nine);
    font-family: var(--nine-quatrocento);
}

.ten {
    background-color: var(--ten);
    font-family: var(--ten-lora);
}

.eleven {
    background-color: var(--eleven);
    font-family: var(--eleven-PT);
}

.twelve {
    background-color: var(--twelve);
    font-family: var(--twelve-noto);
}

.thirteen {
    background-color: var(--thirteen);
    font-family: var(--thirteen-libre);
}

.fourteen {
    background-color: var(--fourteen);
    font-family: var(--fourteen-crimson);
}

.fifteen {
    background-color: var(--fifteen);
    font-family: var(--fiften-source);
}

.sixteen {
    background-color: var(--sixteen);
    font-family: var(--garamond);
}

.seventeen {
    background-color: var(--seventeen);
    font-family: var(--seventeen-zilla);
}

.eighteen {
    background-color: var(--eighteen);
    font-family: var(--eighteen-notoJP);
}

.nineteen {
    background-color: var(--nineteen);
    font-family: var(--nineteen-benne);
}

.twenty {
    background-color: var(--twenty);
    font-family: var(--twenty-ibm);
}


/* contact */

.contact {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    height: 12rem;
    margin-top: 10rem;
    text-align: center;
}

.info {
    width: 80%;
}